@{ViewBag.Title = "Gerenciar Caminhões"; Layout = "_Layout";}

@section Scripts 
{
    <script type="text/javascript" src="~/lib/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="~/js/gerenciar/caminhao/index.js"></script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4>
            <b>SCR - Gerenciar Caminhôes</b>
        </h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend">Filtragem de Caminhões</div>

    <div class="fieldset-card-container">
        <div class="row">
            <div class="col-sm-10">
                <label for="filtro">Filtro:</label>
                <input type="text" id="filtro" class="form-control input-sm" style="width: 100%;" placeholder="Filtrar por marca ou modelo..." />
            </div>

            <div class="col-sm-2">
                <label for="filtrar">&nbsp;</label>
                <button id="filtrar" class="btn btn-primary btn-sm" style="width: 100%;" onclick="filtrar();">FILTRAR</button>
            </div>
        </div>
    </div>
</div>

<div class="fieldset-card" style="margin-bottom: 40px;">
    <div class="fieldset-card-legend">Caminhões Cadastrados</div>

    <div class="fieldset-card-container">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-10">
                <label for="cbord">Ordenar por:</label>
                <select name="cbord" id="cbord" class="form-control input-sm" onchange="ordenar();">
                    <option value="1">REGISTRO (CRESCENTE)</option>
                    <option value="2">REGISTRO (DECRESCENTE)</option>
                    <option value="3">PLACA (CRESCENTE)</option>
                    <option value="4">PLACA (DECRESCENTE)</option>
                    <option value="5">MARCA (CRESCENTE)</option>
                    <option value="6">MARCA (DECRESCENTE)</option>
                    <option value="7">MODELO (CRESCENTE)</option>
                    <option value="8">MODELO (DECRESCENTE)</option>
                    <option value="9">ANO (CRESCENTE)</option>
                    <option value="10">ANO (DECRESCENTE)</option>
                </select>
            </div>
            
            <div class="col-sm-2">
                <label for="novo">&nbsp;</label>
                <a role="button" id="novo" class="btn btn-success btn-sm" style="width: 100%;" href="/gerenciar/caminhao/novo">NOVO</a>
            </div>
        </div>
        
        <table id="table_caminhoes" class="table table-responsive" style="width: 100%;">
            <thead>
            <tr>
                <th class="hidden">ID</th>
                <th style="width: 10%;">PLACA</th>
                <th style="width: 20%;">MARCA</th>
                <th style="width: 40%;">MODELO</th>
                <th style="width: 8%;">ANO</th>
                <th style="width: 2%;">&nbsp;</th>
                <th style="width: 2%;">&nbsp;</th>
            </tr>
            </thead>
        
            <tbody id="tbody_caminhoes">
            </tbody>
        </table>
    </div>
</div>