@{
    ViewBag.Title = "Gerenciar Representações";
    Layout = "_Layout";
}

@section Scripts {
    <script type="text/javascript" src="~/lib/bootbox/bootbox.min.js"></script>
    <script type="text/javascript">
        function ordenarRepresentacoes() {
            var ord = $("#cbord").val();
            
            $.ajax({
                type: 'POST',
                url: '/Representacao/Ordenar',
                async: false,
                data: { col : ord },
                success: function (response) { preencherTabela(response); },
                error: function () { alert("Ocorreu um problema ao comunicar-se com o servidor..."); }
            });
        }
        
        function preencherTabela(dados) {
            var txt = "";
            $.each(dados, function () {
                txt += 
                    '<tr>\
                        <td class="hidden">' + this.id + '</td>\
                        <td>' + this.pessoa.nomeFantasia + '</td>\
                        <td>' + this.pessoa.cnpj + '</td>\
                        <td>' + FormatarData(this.cadastro) + '</td>\
                        <td>' + this.unidade + '</td>\
                        <td>'+ this.pessoa.email +'</td>\
                        <td><a role="button" class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="ADICIONAR UNIDADE" href="javascript:adicionarUnidade('+ this.id +')"></a></td>\
                        <td><a role="button" class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" title="ALTERAR" href="javascript:alterar(' + this.id + ')"></a></td>\
                        <td><a role="button" class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="EXCLUIR" href="javascript:excluir(' + this.id + ')"></a></td>\
                    </tr>';
            });
            $("#tbody_representacoes").html(txt);
        }
        
        function get(url_i) {
            let res;
            $.ajax({
                type: 'GET',
                url: url_i,
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {res = result;},
                error: function (err) {alert(err.d);}
            });
            return res;
        }
        
        function obterRepresentacoes() {
            var data = get("/Representacao/Obter");
            preencherTabela(data);
        }
        
        $(document).ready(function(event) {
            obterRepresentacoes();
        });
        
        function filtrarRepresentacoes() {
            var filtro = $("#filtro").val();
            var cadastro = $("#filtro_cad").val();
        
            if (filtro === "" && cadastro === "") {
                obterRepresentacoes();
            } else {
                if (filtro !== "" && cadastro !== "") {
                    $.ajax({
                        type: 'POST',
                        url: '/Representacao/ObterPorChaveCad',
                        data: { chave: filtro, cad: cadastro },
                        success: function (response) {
                            if (response != null && response !== ""){
                                preencherTabela(response);
                            }
                        },
                        error: function () {
                            alert("Ocorreu um erro ao comunicar-se com o servidor...");
                        }
                    });
                } else {
                    if (filtro !== "") {
                        $.ajax({
                            type: 'POST',
                            url: '/Representacao/ObterPorChave',
                            data: { chave: filtro },
                            success: function (response) {
                                if (response != null && response !== ""){
                                    preencherTabela(response);
                                }
                            },
                            error: function () {
                                alert("Ocorreu um erro ao comunicar-se com o servidor...");
                            }
                        });
                    } else {
                        if (cadastro !== ""){
                            $.ajax({
                                type: 'POST',
                                url: '/Representacao/ObterPorCadastro',
                                data: { cad: cadastro },
                                success: function (response) {
                                    if (response != null && response !== ""){
                                        preencherTabela(response);
                                    }
                                },
                                error: function () {
                                    alert("Ocorreu um erro ao comunicar-se com o servidor...");
                                }
                            });
                        }
                    }
                }
            }
        }
        
        function adicionarUnidade(id) {
            $.ajax({
                type: 'POST',
                url: '/Representacao/Enviar',
                data: {id: id},
                async: false,
                success: function (response) {
                    if (response.length > 0) {
                        alert(response);
                    } else {
                        window.location.href = "../../gerenciar/representacao/addunidade";
                    }
                },
                erros: function (XMLHttpRequest, txtStatus, errorThrown) {
                    alert("Status: " + txtStatus);
                    alert("Error: " + errorThrown);
                }
            });
        }
        
        function excluir(id) {
            bootbox.confirm({
                message: "Confirma a exclusão desta representação?",
                buttons: {
                    confirm: {
                        label: 'Sim',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Não',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: '/Representacao/Excluir',
                            data: {id: id},
                            success: function (result) {
                                if (result.length > 0) {
                                    mostraDialogo(
                                        "<strong>"+result+"</strong>",
                                        "danger",
                                        2000
                                    );
                                } else {
                                    obterRepresentacoes();
                                }
                            },
                            error: function (XMLHttpRequest, txtStatus, errorThrown) {
                                alert("Status: " + txtStatus);
                                alert("Error: " + errorThrown);
                            }
                        });
                    }
                }
            });
        }
        
        function alterar(id) {
            $.ajax({
                type: 'POST',
                url: '/Representacao/Enviar',
                data: {id: id},
                async: false,
                success: function (response) {
                    if (response.length > 0) {
                        mostraDialogo(
                            "Ocorreu um problema ao enviar as informações da representação...",
                            "danger",
                            2000
                        );
                    } else {
                        window.location.href = "../../gerenciar/representacao/detalhes";
                    }
                }
            });
        }
    </script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4>
            <b>SCR - Gerenciar Representações</b>
        </h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 200px;">Filtragem de Representações</div>

    <div class="fieldset-card-container">
        <div class="row">
            <div class="col-sm-8">
                <label for="filtro">Filtro:</label>
                <input type="text" id="filtro" class="form-control input-sm" style="width: 100%;" placeholder="Filtrar por nome e email..." />
            </div>
            
            <div class="col-sm-2">
                <label for="filtro_cad">Filtro Cadastro:</label>
                <input type="date" id="filtro_cad" class="form-control input-sm" style="width: 100%;" />
            </div>

            <div class="col-sm-2">
                <label for="filtrar">&nbsp;</label>
                <button id="filtrar" class="btn btn-primary btn-sm" style="width: 100%;" onclick="filtrarRepresentacoes();">FILTRAR</button>
            </div>
        </div>
    </div>
</div>

<div class="fieldset-card" style="margin-bottom: 40px;">
    <div class="fieldset-card-legend" style="width: 200px;">Representações Cadastradas</div>

    <div class="fieldset-card-container">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-10">
                <label for="cbord">Ordenar por:</label>
                <select id="cbord" class="form-control input-sm" onchange="ordenarRepresentacoes();">
                    <option value="1">REGISTRO (CRESCENTE)</option>
                    <option value="2">REGISTRO (DECRESCENTE)</option>
                    <option value="3">NOME FANTASIA (CRESCENTE)</option>
                    <option value="4">NOME FANTASIA (DECRESCENTE)</option>
                    <option value="5">CNPJ (CRESCENTE)</option>
                    <option value="6">CNPJ (DECRESCENTE)</option>
                    <option value="7">CADASTRO (CRESCENTE)</option>
                    <option value="8">CADASTRO (DECRESCENTE)</option>
                    <option value="9">UNIDADE (CRESCENTE)</option>
                    <option value="10">UNIDADE (DECRESCENTE)</option>
                    <option value="11">EMAIL (CRESCENTE)</option>
                    <option value="12">EMAIL (DECRESCENTE)</option>
                </select>
            </div>
            
            <div class="col-sm-2">
                <label for="novo">&nbsp;</label>
                <a role="button" id="novo" class="btn btn-success" style="width: 100%;" href="/gerenciar/representacao/novo">NOVO</a>
            </div>
        </div>
        
        <table id="table_representacoes" class="table table-responsive" style="width: 100%;">
            <thead>
            <tr>
                <th class="hidden">ID</th>
                <th style="width: 30%;">NOME FANTASIA</th>
                <th style="width: 16%;">CNPJ</th>
                <th style="width: 10%;">CADASTRO</th>
                <th style="width: 20%;">UNIDADE</th>
                <th>EMAIL</th>
                <th style="width: 2%;"></th>
                <th style="width: 2%;"></th>
                <th style="width: 2%;"></th>
            </tr>
            </thead>
        
            <tbody id="tbody_representacoes">
            </tbody>
        </table>
    </div>
</div>