@using scrweb.ViewModels
@{ ViewBag.Title = "Gerenciar Produtos"; Layout = "_Layout"; }

@section Scripts 
{
    <script type="text/javascript" src="~/lib/bootbox/bootbox.min.js"></script>
    <script type="text/javascript">
        function preencherTabela(dados) {
            var txt = "";
            $.each(dados, function () {
                txt += 
                    '<tr>\
                        <td class="hidden">' + this.id + '</td>\
                        <td>' + this.descricao + '</td>\
                        <td>' + this.medida + '</td>\
                        <td>' + this.preco + '</td>\
                        <td>' + this.representacao.pessoa.nomeFantasia + '</td>\
                        <td><a role="button" class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="VINCULAR TIPOS DE CAMINHÃO" href="javascript:vincularTipos('+ this.id +')"></a></td>\
                        <td><a role="button" class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" title="ALTERAR" href="javascript:alterar(' + this.id + ')"></a></td>\
                        <td><a role="button" class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="EXCLUIR" href="javascript:excluir(' + this.id + ')"></a></td>\
                    </tr>';
            });
            $("#tbody_produtos").html(txt);
        }

        function get(url_i) {
            let res;
            $.ajax({
                type: 'GET',
                url: url_i,
                async: false,
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {res = result;},
                error: function (err) {alert(err.d);}
            });
            return res;
        }

        function obterProdutos() {
            var dados = get("/Produto/Obter");

            preencherTabela(dados);
        }

        $(document).ready(function (event) {
            obterProdutos();
        });

        function filtrarProdutos() {
            var filtro = $("#filtro").val().trim();
            var rep = $("#representacao").val();
            
            if (filtro === "" && rep === "0") {
                obterProdutos();
            } else {
                if (filtro !== "" && rep !== "0") {
                    $.ajax({
                        type: "POST",
                        url: "/Produto/ObterPorFiltroAndRepresentacao",
                        data: {filtro: filtro, representacao: rep},
                        async: false,
                        success: function (result) {
                            preencherTabela(result);
                        },
                        error: function (XMLHttpRequest, txtStatus, errorThrown) {
                            mostraDialogo(
                                "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                                "<br/>" + errorThrown,
                                "danger",
                                2000
                            );
                        }
                    });
                } else {
                    if (filtro !== "") {
                        $.ajax({
                            type: "POST",
                            url: "/Produto/ObterPorFiltro",
                            data: {filtro: filtro},
                            async: false,
                            success: function (result) {
                                preencherTabela(result);
                            },
                            error: function (XMLHttpRequest, txtStatus, errorThrown) {
                                mostraDialogo(
                                    "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                                    "<br/>" + errorThrown,
                                    "danger",
                                    2000
                                );
                            }
                        });
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/Produto/ObterPorRepresentacao",
                            data: {representacao: rep},
                            async: false,
                            success: function (result) {
                                preencherTabela(result);
                            },
                            error: function (XMLHttpRequest, txtStatus, errorThrown) {
                                mostraDialogo(
                                    "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                                    "<br/>" + errorThrown,
                                    "danger",
                                    2000
                                );
                            }
                        });
                    }
                }
            }
        }

        function ordenarProdutos() {
            var ord = $("#cbord").val();

            $.ajax({
                type: "POST",
                url: "/Produto/Ordenar",
                data: {ord: ord},
                async: false,
                success: function (result) {
                    preencherTabela(result);
                },
                error: function (XMLHttpRequest, txtStatus, errorThrown) {
                    mostraDialogo(
                        "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                        "<br/>"+errorThrown,
                        "danger",
                        2000
                    );
                }
            });
        }

        function vincularTipos(id) {
            $.ajax({
                type: 'POST',
                url: '/ProdutoTipoCaminhao/Enviar',
                data: { id: id },
                success: function (result) {
                    if (result.length > 0) alert(result);
                    else {
                        window.location.href = "../../ProdutoTipoCaminhao/Index";
                    }
                },
                error: function (XMLHttpRequest, txtStatus, errorThrown) {
                    mostraDialogo(
                        "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                        "<br/>"+errorThrown,
                        "danger",
                        2000
                    );
                }
            });
        }

        function alterar(id) {
            $.ajax({
                type: 'POST',
                url: '/Produto/Enviar',
                data: { id: id },
                success: function (result) {
                    if (result.length > 0) alert(result);
                    else {
                        window.location.href = "../../gerenciar/produto/detalhes";
                    }
                },
                error: function (XMLHttpRequest, txtStatus, errorThrown) {
                    mostraDialogo(
                        "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                        "<br/>"+errorThrown,
                        "danger",
                        2000
                    );
                }
            });
        }

        function excluir(id) {
            bootbox.confirm({
                message: "Confirma a exclusão deste registro?",
                buttons: {
                    confirm: {
                        label: 'Sim',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Não',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: '/Produto/Excluir',
                            data: { id: id },
                            success: function (result) {
                                if (result === "") {
                                    obterTipos();
                                }
                                else {
                                    mostraDialogo(
                                        "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                                        "<br/>"+result,
                                        "danger",
                                        2000
                                    );
                                }
                            },
                            error: function (XMLHttpRequest, txtStatus, errorThrown) {
                                mostraDialogo(
                                    "<strong>Ocorreu um erro ao se comunicar com o servidor...</strong>" +
                                    "<br/>"+errorThrown,
                                    "danger",
                                    2000
                                );
                            }
                        });
                    }
                }
            });
        }
    </script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4>
            <b>SCR - Gerenciar Produtos</b>
        </h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 220px;">Filtragem de Produtos</div>

    <div class="fieldset-card-container">
        <div class="row">
            <div class="col-sm-6">
                <label for="filtro">Filtro:</label>
                <input type="text" id="filtro" class="form-control input-sm" style="width: 100%;" placeholder="Filtrar por descrição..." />
            </div>
                
            <div class="col-sm-4">
                <label for="representacao">Representação:</label>
                <select id="representacao" class="form-control input-sm">
                    <option value="0">SELECIONE</option>
                    @foreach (var rep in (List<RepresentacaoViewModel>) ViewBag.Representacoes)
                    {
                        <option value="@rep.Id">@rep.Pessoa.NomeFantasia (@rep.Unidade)</option>
                    }
                </select>
            </div>

            <div class="col-sm-2">
                <label for="filtrar">&nbsp;</label>
                <button id="filtrar" class="btn btn-primary btn-sm" style="width: 100%;" onclick="filtrarProdutos();">FILTRAR</button>
            </div>
        </div>
    </div>
</div>

<div class="fieldset-card" style="margin-bottom: 40px;">
    <div class="fieldset-card-legend" style="width: 200px;">Produtos Cadastrados</div>

    <div class="fieldset-card-container">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-10">
                <label for="cbord">Ordenar por:</label>
                <select name="cbord" id="cbord" class="form-control input-sm" onchange="ordenarProdutos();">
                    <option value="1">REGISTRO (CRESCENTE)</option>
                    <option value="2">REGISTRO (DECRESCENTE)</option>
                    <option value="3">DESCRIÇÃO (CRESCENTE)</option>
                    <option value="4">DESCRIÇÃO (DECRESCENTE)</option>
                    <option value="5">MEDIDA (CRESCENTE)</option>
                    <option value="6">MEDIDA (DECRESCENTE)</option>
                    <option value="7">PREÇO (CRESCENTE)</option>
                    <option value="8">PREÇO (DECRESCENTE)</option>
                    <option value="9">REPRESENTAÇÃO (CRESCENTE)</option>
                    <option value="10">REPRESENTAÇÃO (DECRESCENTE)</option>
                </select>
            </div>
            
            <div class="col-sm-2">
                <label for="novo">&nbsp;</label>
                <a role="button" id="novo" class="btn btn-success btn-sm" style="width: 100%;" href="/gerenciar/produto/novo">NOVO</a>
            </div>
        </div>
        
        <table id="table_produtos" class="table table-responsive" style="width: 100%;">
            <thead>
            <tr>
                <th class="hidden">ID</th>
                <th style="width: 40%;">DESCRIÇÃO</th>
                <th style="width: 16%;">MEDIDA</th>
                <th style="width: 10%;">PREÇO</th>
                <th style="width: 10%;">REPRESENTAÇÂO</th>
                <th style="width: 2%;">&nbsp;</th>
                <th style="width: 2%;">&nbsp;</th>
                <th style="width: 2%;">&nbsp;</th>
            </tr>
            </thead>
        
            <tbody id="tbody_produtos">
            </tbody>
        </table>
    </div>
</div>