
@{
    ViewBag.Title = "Configuração - Parametrização";
    Layout = "_Layout";
}

@section Scripts{ 
    <script type="text/javascript" src="~/lib/jquery-mask-plugin/dist/jquery.mask.js"></script>
    <script type="text/javascript" src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="~/js/configuracao/parametrizacao/index.js" asp-append-version="true"></script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4><b>SCR - Parametrização do sistema</b></h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 130px;">Dados do Empresa</div>
    <div class="fieldset-card-container">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-12">
                    <label for="txRazaoSocial">Razão Social (Obrigatório):</label>
                    <input type="text" id="txRazaoSocial" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msRazaoSocial" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <label for="txNomeFantasia">Nome Fantasia (Obrigatório):</label>
                    <input type="text" id="txNomeFantasia" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msNomeFantasia" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="txCnpj">CNPJ (Obrigatório):</label>
                    <input type="text" id="txCnpj" class="form-control input-sm" style="width: 100%;" data-mask="00.000.000/0000-00" data-mask-clearifnotmatch="true" value="" />
                    <span id="msCnpj" class="label label-danger hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 188px;">Dados de contato do empresa</div>
    <div class="fieldset-card-container">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-9">
                    <label for="txRua">Rua (Obrigatório):</label>
                    <input type="text" name="txRua" id="txRua" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msRua" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="txNumero">Número (Obrigatório):</label>
                    <input type="text" name="txNumero" id="txNumero" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msNumero" class="label label-danger hidden"></span>
                </div>
            </div>

            <div style="height: 7px;"></div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="txBairro">Bairro (Obrigatório):</label>
                    <input type="text" name="txBairro" id="txBairro" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msBairro" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-6">
                    <label for="txComplemento">Complemento:</label>
                    <input type="text" name="txComplemento" id="txComplemento" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msComplemento" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label for="cbestado">Estado (Obrigatório):</label>
                    <input id="cbestado" class="form-control input-sm" style="width: 100%;" list="estados" placeholder="Digite para buscar." value="" />
                    <datalist id="estados"></datalist>
                    <span id="msEstado" class="label label-danger hidden"></span>
                </div>

                <input type="hidden" name="txIdEstado" id="txIdEstado" value="0" />

                <div class="col-sm-5">
                    <label for="cbcidade">Cidade (Obrigatório):</label>
                    <input id="cbcidade" class="form-control input-sm" style="width: 100%;" list="cidades" placeholder="Digite para buscar." value="" />
                    <datalist id="cidades"></datalist>
                    <span id="msCidade" class="label label-danger hidden"></span>
                </div>

                <input type="hidden" name="txIdCidade" id="txIdCidade" value="0" />

                <div class="col-sm-3">
                    <label for="txCep">CEP (Obrigatório):</label>
                    <input type="text" name="txCep" id="txCep" class="form-control input-sm" style="width: 100%;" data-mask="00.000-000" data-mask-clearifnotmatch="true" value="" />
                    <span id="msCep" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label for="txTel">Telefone (Obrigatório):</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></div>
                        <input type="text" id="txTel" class="form-control input-sm" data-mask="(00) 0000-0000" data-mask-clearifnotmatch="true" value="" />
                    </div>
                    <span id="msTelefone" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="txCel">Celular (Obrigatório):</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></div>
                        <input type="text" id="txCel" class="form-control input-sm" data-mask="(00) 00000-0000" data-mask-clearifnotmatch="true" value="" />
                    </div>
                    <span id="msCelular" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-6">
                    <label for="txEmail">E-Mail (Obrigatório):</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon">@@</div>
                        <input type="text" id="txEmail" class="form-control input-sm" value="" />
                    </div>
                    <span id="msEmail" class="label label-danger hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 130px;">Dados Adicionais</div>
    <div class="fieldset-card-container">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-12">
                    <label for="logotipo">Logotipo:</label>
                    <input type="file" id="logotipo" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msLogotipo" class="label label-danger hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <button id="btVoltar" class="btn btn-default" style="width: 100%;">VOLTAR</button>
    </div>

    <div class="col-sm-6"></div>

    <div class="col-sm-2">
        
    </div>

    <div class="col-sm-2">
        <button id="btSalvar" class="btn btn-success" style="width: 100%;">SALVAR</button>
    </div>
</div>
