
@{
    ViewBag.Title = "Detalhes - Gerenciar Funcionarios";
    Layout = "_Layout";
}

@section Scripts{ 
    <script type="text/javascript" src="~/lib/jquery-mask-plugin/dist/jquery.mask.js"></script>
    <script type="text/javascript" src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="~/js/gerenciar/funcionario/detalhes.js" asp-append-version="true"></script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4><b>SCR - Detalhes do Funcionário</b></h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 130px;">Dados do Funcionário</div>
    <div class="fieldset-card-container">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-9">
                    <label for="txNome">Nome:</label>
                    <input type="text" id="txNome" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msNome" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="dtNasc">Nascimento:</label>
                    <input type="date" id="dtNasc" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msNasc" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label for="txRg">RG:</label>
                    <input type="text" id="txRg" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msRg" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="txCpf">CPF:</label>
                    <input type="text" id="txCpf" class="form-control input-sm" style="width: 100%;" data-mask="000.000.000-00" data-mask-clearifnotmatch="true" value="" />
                    <span id="msCpf" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="dtAdm">Admissão:</label>
                    <input type="date" id="dtAdm" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msAdm" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="cbTipo">Tipo:</label>
                    <select id="cbTipo" class="form-control input-sm" style="width: 100%;" disabled="disabled">
                        <option value="0">SELECIONE</option>
                        <option value="1">INTERNO</option>
                        <option value="2">VENDEDOR</option>
                    </select>
                    <span id="msTipo" class="label label-danger hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 188px;">Dados de contato do funcionario</div>
    <div class="fieldset-card-container">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-9">
                    <label for="txRua">Rua:</label>
                    <input type="text" name="txRua" id="txRua" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msRua" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="txNumero">Número:</label>
                    <input type="text" name="txNumero" id="txNumero" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msNumero" class="label label-danger hidden"></span>
                </div>
            </div>

            <div style="height: 7px;"></div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="txBairro">Bairro:</label>
                    <input type="text" name="txBairro" id="txBairro" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msBairro" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-6">
                    <label for="txComplemento">Complemento:</label>
                    <input type="text" name="txComplemento" id="txComplemento" class="form-control input-sm" style="width: 100%;" value="" />
                    <span id="msComplemento" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label for="btEstado">Estado:</label>
                    <a role="button" id="btEstado" class="btn btn-default btn-sm" style="width: 100%;" data-fancybox data-src="#fancySelEstado" href="javascript:;">
                        SELECIONAR
                    </a>
                    <span id="msEstado" class="label label-danger hidden"></span>
                </div>

                <input type="hidden" name="txIdEstado" id="txIdEstado" value="0" />

                <div class="col-sm-5">
                    <label for="btCidade">Cidade:</label>
                    <a role="button" id="btCidade" class="btn btn-default btn-sm" style="width: 100%;" data-fancybox data-src="#fancySelCidade" href="javascript:;">
                        SELECIONAR
                    </a>
                    <span id="msCidade" class="label label-danger hidden"></span>
                </div>

                <input type="hidden" name="txIdCidade" id="txIdCidade" value="0" />

                <div class="col-sm-3">
                    <label for="txCep">CEP:</label>
                    <input type="text" name="txCep" id="txCep" class="form-control input-sm" style="width: 100%;" data-mask="00.000-000" data-mask-clearifnotmatch="true" value="" />
                    <span id="msCep" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label for="txTel">Telefone:</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></div>
                        <input type="text" id="txTel" class="form-control input-sm" data-mask="(00) 0000-0000" data-mask-clearifnotmatch="true" value="" />
                    </div>
                    <span id="msTelefone" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-3">
                    <label for="txCel">Celular:</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></div>
                        <input type="text" id="txCel" class="form-control input-sm" data-mask="(00) 00000-0000" data-mask-clearifnotmatch="true" value="" />
                    </div>
                    <span id="msCelular" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-6">
                    <label for="txEmail">E-Mail:</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon">@@</div>
                        <input type="text" id="txEmail" class="form-control input-sm" value="" />
                    </div>
                    <span id="msEmail" class="label label-danger hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="auth" class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 140px;">Dados de autenticação</div>
    <div class="fieldset-card-container">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-6">
                    <label for="cbNivel">Nível:</label>
                    <select name="cbNivel" id="cbNivel" class="form-control input-sm" style="width: 100%;">
                        <option value="0">SELECIONAR</option>
                    </select>
                    <span id="msNivel" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-6">
                    <label for="txLogin">Login:</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                        <input type="text" name="txLogin" id="txLogin" class="form-control input-sm" value="" />
                    </div>
                    <span id="msLogin" class="label label-danger hidden"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="txSenha">Senha:</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                        <input type="password" name="txSenha" id="txSenha" class="form-control input-sm" value="" />
                    </div>
                    <span id="msSenha" class="label label-danger hidden"></span>
                </div>

                <div class="col-sm-6">
                    <label for="txConfSenha">Confirmar Senha:</label>
                    <div class="input-group" style="width: 100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                        <input type="password" name="txConfSenha" id="txConfSenha" class="form-control input-sm" value="" />
                    </div>
                    <span id="msConfSenha" class="label label-danger hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <button id="btVoltar" class="btn btn-default" style="width: 100%;">VOLTAR</button>
    </div>

    <div class="col-sm-6"></div>

    <div class="col-sm-2">
        
    </div>

    <div class="col-sm-2">
        <button id="btSalvar" class="btn btn-success" style="width: 100%;">SALVAR</button>
    </div>
</div>


<!-- Fancybox FORM ESTADO -->
<div style="display: none; min-width: 300px; width: 700px" id="fancySelEstado">

    <h3 style="text-align: center; font-weight: bold;">Selecionar Estado</h3>
    <hr style="color: grey;" />

    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label for="txSelEstadoPesquisa">Filtro:</label>
                <input type="text" name="txSelEstadoPesquisa" id="txSelEstadoPesquisa" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="btFiltrarEstado">&nbsp;</label>
                <button name="btFiltrarEstado" id="btFiltrarEstado" class="btn btn-primary" style="width: 100%;">FILTRAR</button>
            </div>
        </div>
    </div>
    <div class="table-container" style="height: 190px;">
        <table name="tbEstados" id="tbEstados" class="table table-striped table-hover">

            <thead>
                <tr>
                    <th class="hidden">ID</th>
                    <th>NOME</th>
                    <th>SIGLA</th>
                </tr>
            </thead>

            <tbody id="tbEstadosBody">
            </tbody>

        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button name="btCancelarEstado" id="btCancelarEstado" class="btn btn-danger" style="width: 100%;" onclick="$.fancybox.close();">Cancelar</button>
        </div>

        <div class="col-sm-6"></div>

        <div class="col-sm-3">
            <button name="btConfirmarEstado" id="btConfirmarEstado" class="btn btn-success" style="width: 100%;">Confirmar</button>
        </div>
    </div>
</div>

<!-- Fancybox FORM CIDADE -->
<div style="display: none; min-width: 300px; width: 700px" id="fancySelCidade">

    <h3 style="text-align: center; font-weight: bold;">Selecionar Cidade</h3>
    <hr style="color: grey;" />

        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="txSelCidadePesquisa">Filtro:</label>
                    <input type="text" name="txSelCidadePesquisa" id="txSelCidadePesquisa" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="btFiltrarCidade">&nbsp;</label>
                    <button name="btFiltrarCidade" id="btFiltrarCidade" class="btn btn-primary" style="width: 100%;">FILTRAR</button>
                </div>
            </div>
        </div>
        <div class="table-container" style="height: 190px;">
            <table id="tbCidades" class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th>NOME</th>
                    </tr>
                </thead>

                <tbody id="tbCidadesBody">
                </tbody>

            </table>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <button name="btCancelarCidade" id="btCancelarCidade" class="btn btn-danger" style="width: 100%;" onclick="$.fancybox.close();">Cancelar</button>
            </div>

            <div class="col-sm-6"></div>

            <div class="col-sm-3">
                <button name="btConfirmarCidade" id="btConfirmarCidade" class="btn btn-success" style="width: 100%;">Confirmar</button>
            </div>
        </div>
</div>