@{
    ViewData["Title"] = "Gerenciar Funcionarios";
}

@section Scripts {
    <script type="text/javascript" src="~/lib/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="~/js/gerenciar/funcionario/index.js"></script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4>
            <b>SCR - Gerenciar Funcionários</b>
        </h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 200px;">Filtragem de Funcionários</div>

    <div class="fieldset-card-container">
        <div class="row">
            <div class="col-sm-8">
                <label for="txFiltro">Filtro:</label>
                <input type="text" id="txFiltro" class="form-control input-sm" style="width: 100%;" placeholder="Filtrar por nome, login e email..." />
            </div>
            
            <div class="col-sm-2">
                <label for="dtFiltroAdm">Filtro Admissão:</label>
                <input type="date" id="dtFiltroAdm" class="form-control input-sm" style="width: 100%;" />
            </div>

            <div class="col-sm-2">
                <label for="btFiltrar">&nbsp;</label>
                <button id="btFiltrar" class="btn btn-primary btn-sm" style="width: 100%;">FILTRAR</button>
            </div>
        </div>
    </div>
</div>

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 200px;">Funcionários Cadastrados</div>

    <div class="fieldset-card-container">
        <div class="row">
            <div class="col-sm-12">
                <label for="cbord">Ordenar por:</label>
                <select id="cbord" class="form-control input-sm">
                    <option value="1">REGISTRO - CRESCENTE</option>
                    <option value="2">REGISTRO - DECRESCENTE</option>
                    <option value="3">NOME - CRESCENTE</option>
                    <option value="4">NOME - DECRESCENTE</option>
                    <option value="5">USUÁRIO - CRESCENTE</option>
                    <option value="6">USUÁRIO - DECRESCENTE</option>
                    <option value="7">NÍVEL - CRESCENTE</option>
                    <option value="8">NÍVEL - DECRESCENTE</option>
                    <option value="9">CPF - CRESCENTE</option>
                    <option value="10">CPF - DECRESCENTE</option>
                    <option value="11">ADMISSÃO - CRESCENTE</option>
                    <option value="12">ADMISSÃO - DECRESCENTE</option>
                    <option value="13">TIPO - CRESCENTE</option>
                    <option value="14">TIPO - DECRESCENTE</option>
                    <option value="15">ATIVO - CRESCENTE</option>
                    <option value="16">ATIVO - DECRESCENTE</option>
                    <option value="17">EMAIL - CRESCENTE</option>
                    <option value="18">EMAIL - DECRESCENTE</option>
                </select>
            </div>
        </div>
        
        <div class="table-container">
            <table id="tbFuncionarios" class="table">
                <thead>
                <tr>
                    <th class="hidden">ID</th>
                    <th style="width: 20%;">NOME</th>
                    <th style="width: 10%;">USUÁRIO</th>
                    <th style="width: 12%;">NÍVEL</th>
                    <th style="width: 12%;">CPF</th>
                    <th style="width: 8%;">ADMISSÃO</th>
                    <th style="width: 10%;">TIPO</th>
                    <th style="width: 8%;">ATIVO</th>
                    <th>EMAIL</th>
                </tr>
                </thead>
                <tbody id="tbFuncionariosBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <button id="btDesativar" class="btn btn-danger" style="width: 100%;">DESATIVAR</button>
    </div>

    <div class="col-sm-3">
        <button id="btReativar" class="btn btn-primary" style="width: 100%;">REATIVAR</button>
    </div>

    <div class="col-sm-3">
        <button id="btDetalhes" class="btn btn-info" style="width: 100%;">DETALHES</button>
    </div>

    <div class="col-sm-3">
        <button id="btNovo" class="btn btn-success" style="width: 100%;">NOVO</button>
    </div>
</div>
