@{ ViewBag.Title = "Detalhes do Tipo de Caminhão"; Layout = "_Layout"; }

@section Scripts
{
    <script type="text/javascript" src="~/js/gerenciar/tipocaminhao/detalhes.js"></script>
}

<!-- Card titulo pagina -->
<div class="card-title">
    <div class="card-title-container" style="text-align: center;">
        <h4><b>SCR - Detalhes do Tipo de Caminhão</b></h4>
    </div>
</div>
<!-- Fim card titulo pagina -->

<div class="fieldset-card">
    <div class="fieldset-card-legend" style="width: 130px;">Dados do Tipo</div>
    <div class="fieldset-card-container">
        <div class="row">
            <div class="col-sm-6">
                <label for="desc">Descrição (Obrigatório):</label>
                <input type="text" id="desc" class="form-control input-sm" style="width: 100%;" value="" />
                <div id="msdesc"></div>
            </div>

            <div class="col-sm-3">
                <label for="eixos">Eixos (Obrigatório):</label>
                <input type="number" id="eixos" class="form-control input-sm" style="width: 100%;" value="0" />
                <div id="mseixos"></div>
            </div>
            
            <div class="col-sm-3">
                <label for="capacidade">Capacidade (Obrigatório):</label>
                <div class="input-group">
                    <input type="text" id="capacidade" class="form-control input-sm" style="width: 100%;" value="0" />
                    <div class="input-group-addon">KG</div>
                </div>
                <div id="mscap"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <a role="button" class="btn btn-default" style="width: 100%;" href="/gerenciar/tipocaminhao/index">VOLTAR</a>
    </div>

    <div class="col-sm-6"></div>

    <div class="col-sm-2"></div>

    <div class="col-sm-2">
        <button id="salvar" class="btn btn-success" style="width: 100%;" onclick="gravar();">SALVAR</button>
    </div>
</div>